[Unit]
Description=Kernel autoremove
# Further description:
# This script uninstalls all kernels except the currently running one, because dnf refuses to allow uninstalling the
# currently running kernel modules package.

[Service]
Type=oneshot
ExecStart=/usr/lib/eupnea/autoremove-kernels.sh
RemainAfterExit=false
StandardOutput=journal

[Install]
WantedBy=multi-user.target